<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 style="text-align: center;">Approved Complaints</h4><br><br>
                
                <div class="table-responsive">
                    <table class="table table-striped" id="ApprovedComplaintsTable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Room Number</th>
                                <th>Property Type</th>
                                <th>Property Unique ID</th>
                                <th>Complainant</th>
                                <th>Description</th>
                                <th>Image Name</th>
                                <th>Complaint Date</th>
                                <th>Approved Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Use *ngFor to loop through the complaints array -->
                            <tr *ngFor="let complaint of complaint">
                                <td>{{ complaint.id }}</td>
                                <td>{{ complaint.room_number }}</td>
                                <td>{{ complaint.property_type }}</td>
                                <td>{{ complaint.property_uniq_id }}</td>
                                <td>{{ complaint.complainant }}</td>
                                <td>{{ complaint.description }}</td>
                                <td>{{ complaint.imageName }}</td>
                                <td>{{ complaint.complaint_date }}</td>
                                <td>{{ complaint.approved_date }}</td>
                                <td>{{ complaint.status }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
